show actions
.container-fluid
  .post
    .post_head
      =@post.user.user_name
    .post_body
      =@post.content



  %h1 Comments

  =render "comments/new"

  -@comments.each do |comment|
    =comment.user.user_name
    =comment.content