show actions
.row.justify-content-md-center
  .col-8
    .post
      .post_head
        =@post.user.user_name
      .post_body
        =image_tag @post.image.url(:big) if @post.image?
        =@post.content
        -if user_signed_in? && current_user == @post.user
          =link_to 'Edite post', edit_post_path(@post), class: 'btn btn-info'
          =link_to 'Delete post', post_path(@post), method: :delete, class: 'btn btn-info'



      %h1 Comments

      =render "comments/new"

      -@comments.each do |comment|
        .coment
          .coment_head
            =comment.user.user_name
          .comment_body
            =comment.content
          -if user_signed_in? && comment.user_id = current_user.id
            =link_to "Edit commment", edit_post_comment_path(comment.post, comment), class: 'badge badge-light'
            =link_to "Delete commment", post_comment_path(comment.post, comment), method: :delete, confirm: {data: 'Do you want delete comment'}, class: 'badge badge-danger'