// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  list-style-type: none;
     }

#custom_card {
  margin-bottom: 3.5% ;
  height: 700px;

  #custom_card_header {
    height: 100px;
  }
  #custom_card_img {
    height: 400px;
  }

  #custom_card_body {
    height: 150px;
  }

  #custom_card_footer {
    height: 50px;
  }
}

.cust_card {
  margin-bottom: 3% ;
  height: 600px;
  border: silver 1px solid;

  .cust_card_body {
    height: 100px;
    background-color: #730E15;
  }

}

a {
  text-decoration: none;
}

.post {

  .post_header {
    font-size: 1.5em;
  }

  .post_image {
    display: block;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
  }

  .post_footer{
    text-align: right;
  }
}




.coment {
  margin-bottom: 2%;
 border: silver 1px solid;
  min-height: 6em;
  .comment_body{
    font-size: 1.4em;
  }

  .comment_footer{
    text-align: right;
  }
}
